.about_us_image {
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  background-size: cover;
  color: $white_color;

  .text_about {
    padding: 200px 0px 0px 196px;

    h1 {
      font-size: 58px;
    }

    h2 {
      font-size: 106px;
      display: inline-block;
      background: -webkit-linear-gradient(120deg, #1177D7, #AB07AD);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    h3 {
      font-size: 50px;
      margin-bottom: 50px;
    }

    h4 {
      font-size: 30px;
      margin-top: 10px;
    }

    p {
      font-size: 20px;
      width: 70%;
      display: block;
      line-height: 30px;
      margin-bottom: 30px;
      @extend .font_poppins;
      color: $white_color;
    }

    span {
      font-size: 24px;
      width: 80%;
      display: block;
      line-height: 50px;
      margin-top: 80px;
    }
  }

  .about_thumb {
    h1 {
      text-transform: uppercase;
      font-size: 24px;
      margin-bottom: 20px;
      padding-top: 20px;
      line-height: 1.7;

      &:before {
        position: absolute;
        top: 0px;
        left: 15px;
        width: 60px;
        height: 1px;
        content: "";
        background-color: $white_color;
        color: $white_color;
      }
    }

    h2 {
      font-size: 106px;
      display: inline-block;
      background: -webkit-linear-gradient(120deg, #1177D7, #AB07AD);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.about_blur {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  opacity: 0;
}

.text-gradient {
  background: -webkit-linear-gradient(185deg, #1177D7, #AB07AD);
  display: inline-block;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}