.blog_section {
  padding-top: 114px;
  background-color: $black_color;

  .blog_post {
    height: 60vh;
    padding: 0px;
    overflow: hidden;

    &:hover {
      .wp-post-image {
        transform: scale(1.15);
        transition: 1s;
      }
    }

    .wp-post-image {
      height: 100%;
      object-fit: cover;
      object-position: center;
      width: 100%;
      transition: 1s;
      transform: scale(1);
    }

    .blog_info {
      position: absolute;
      bottom: 30px;
      left: 30px;
      width: 100%;
    }

    h5 {
      color: $white_color;
    }

    span {
      color: $white_color;
      @extend %family_poppins;

      &.date_blog {
        font-weight: normal;
        font-size: 13px;
      }

      &.author_blog {
        font-weight: normal;
        font-size: 12px;

        img {
          border-radius: 50px;
          margin-right: 15px;
        }
      }
    }
  }
}

.blog_categories {
  padding: 0px;
  width: 100%;
  text-align: center;

  li {
    display: inline-block;
    padding-right: 30px;

    span {
      color: $white_color;
      font-size: 25px;
      cursor: pointer;
    }

    &.active {
      span {
        background-image: linear-gradient(
                        to right, #AB07AD, #1177D7);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}

.blog_single {
  @extend %family_poppins;
  padding: 90px 0px 90px 0px;

  h1 {
    font-size: 70px;
    text-align: center;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 30px;
  }

  figure {
    width: 100%;

    img {
      width: 100%;
      height: auto;
    }
  }

  ul {
    li {
      display: block !important;
      width: 100% !important;
      margin-right: 0px !important;
      font-size: 20px;

      figure {
        img {
          width: 100%;
        }
      }
    }
  }

  p {
    font-size: 20px;
  }
}