.screen-reader-response {
  height: 100vh;
  display: inline-block;
  width: 100%;
}

.black_section {
  background-color: $black_color;

  p {
    width: 100%;
  }

  &.flex {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.contact_form_div {
  padding: 60px 0px 40px 0px;
  background: transparent;

  .textarea {
    margin-bottom: 20px;

    textarea {
      min-height: 264px;
      border: none;
      background-color: transparent;
      border-bottom: 1px solid $white_color;
      padding: 30px 0px 15px 0px;
      color: $white_color;
    }
  }

  label {
    display: block;
    width: 100%;
    color: $white_color;
    font-style: italic;
    position: absolute;
    top: 0px;

  }

  input, select {
    width: 100%;
    height: 35px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid $white_color;
    margin-bottom: 20px;
    margin-top: 23px;

    &:focus {
      border-bottom: 1px solid $pink_color;

      ~ label {
        color: $pink_color;
        font-size: 15px;
      }
    }
  }

  textarea {
    &:focus {
      border-bottom: 1px solid $pink_color;

      ~ label {
        color: $pink_color;
        font-size: 15px;
      }
    }
  }

  .contact_focus {
    label {
      color: $pink_color;
    }

    input, select, textarea {
      border-bottom: 1px solid $pink_color;
    }
  }

  .div_inputs {
    margin-bottom: 56px;
  }

  textarea {
    width: 100%;
  }

  span {
    padding-left: 0px;
    color: gray;

    input, select {
      color: $white_color;
      padding-left: 10px;
    }


    a {
      color: red;
    }

    &.wpcf7-not-valid-tip {
      color: red;
      padding-left: 0px;
      @extend .font_poppins;
    }
  }

  br {
    display: none;
  }


  input[type=submit] {
    background-color: red;
    padding: 12px 37px;
    color: $white_color;
    width: 200px;
    border: none;
    margin-bottom: 0px;

  }

  p {

    span {
      padding-left: 15px;
    }
  }
}

.button_contact {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px !important;

  input {
    color: $white_color;
    margin: 0px;
    padding: 20px 40px;
    border-radius: 40px;
    border: none;
    background-color: red;
    background-image: linear-gradient(
                    30deg, #AB07AD, #1177D7);
  }
}

.privacy {
  text-align: center;
  display: block;
  width: 100%;
  color: $white_color;

  a {
    color: #21d4fc;

    &:hover {
      color: #21d4fc;
    }
  }
}

.wpcf7 {
  position: relative;
  width: 100%;
}

.wpcf7-response-output {
  display: none;
  border: none !important;
  position: absolute;
  top: -40px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  //display: block;
  text-align: center;
  color: red;
  font-size: 16px;
  @extend .font_poppins;
}

.ajax-loader {
  display: none !important;
}

.wpcf7-not-valid-tip {
  position: absolute;
}

.wpcf7-form-control-wrap {
  padding-left: 0px !important;
}

.wpcf7-form-control {
  margin-bottom: 0px !important;
}

.wpb_content_element {
  margin-bottom: 0px !important;
}


p {
  margin-bottom: 0px;
}

.contact_title {
  text-align: center;

  &.project_text {
    span {
      width: 60%;
      display: inline-block;
    }
  }
}