.capabilities_image {
  background-image: url('./img/index/home-1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
  overflow: hidden;

  .row {
    height: 100vh;
  }
}

.landing_thumb {
  border-right: 1px solid $white_color;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  img {
    display: none;
  }

  .landing_info {
    padding-left: 50px;
    transition: 1s;
    width: 100%;
    display: block;
    min-height: 150px;

    h1 {
      margin-bottom: 20px;
      position: relative;
      color: $white_color;
      padding-bottom: 10px;

      &:after {
        content: "";
        width: 0px;
        height: 2px;
        background-color: #fff;
        position: absolute;
        bottom: 0px;
        left: 0px;
        transition: 1s ease;
      }
    }

    span {
      color: $white_color;
      opacity: 0;
      display: inline-block;
      transition: 1s;
    }
  }

  &:hover {
    .landing_info {
      margin-bottom: 80px;
      transition: 1s;

      h1 {
        &:after {
          width: 120px;
          transition: 0.5s ease-in-out 0.7s;
        }
      }

      span {
        opacity: 1;
        transition: 1s;
      }
    }
  }
}