.project_text {
  padding: 110px 130px;
  text-align: center;
  background-color: $black_color;

  h1 {
    margin-bottom: 30px;
    display: inline-block;
    background-image: linear-gradient(
                    to right, #AB07AD, #1177D7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 70px;
  }

  span {
    width: 60%;
    font-size: 18px;
    display: inline-block;
    color: $white_color;
  }
}

.projects_thumb {
  height: 550px;
  overflow: hidden;

  img {
  }

  .projects_info {
    background-color: transparent;
    position: absolute;
    top: 0px;
    width: 100%;
    color: $white_color;
    height: 100%;
    text-align: center;
    transition: 0.7s;

    h1 {
      padding-top: 250px;
      transition: 0.5s ease-in-out 0.2s;
      font-size: 100px;
      display: block;
      width: 100%;
    }

    span {
      font-size: 18px;
      width: 45%;
      opacity: 0;
      transition: 1s;
      display: inline-block;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.56);

      span {
        transition: 1s ease-in-out 0s;
        opacity: 1;
      }

      h1 {
        padding-top: 150px;
        transition: 0.5s;
      }
    }
  }
}