.services_slider {
  background-color: $black_color;
  height: auto;
  background-position: top;
  padding: 100px 0px 0px 0px;
  overflow-y: hidden;
  background-size: cover;
  background-repeat: no-repeat;

  .services_header {
    position: relative;
    padding: 0px 225px;
    top: 60px;
    z-index: 99;
    width: 100%;
    left: 0px;
    right: 0px;

    h1 {
      color: $white_color;
      font-size: 72px;
      line-height: 72px;
    }

    p {
      color: $white_color;
      font-size: 28px;
      @extend %family_poppins;
      width: 85%;

    }
  }
}



