$white_color: #fff;
$black_color: #000;
$pink_color: #9e1fe2;
$grey_color_meny: #adadad;

%line_underline {
  content: " ";
  position: absolute;
  border-top: 1px solid $black_color;
}

%flex_center, .flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%family_poppins {
  font-family: 'Poppins';
}

.mb-70 {
  margin-bottom: 70px;
}

.pt-150 {
  padding-top: 150px;
}

.text-gradient {
  background: -webkit-linear-gradient(
                  185deg, #1177D7, #AB07AD);
  display: inline-block;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}