@font-face {
  font-family: 'Poppins';
  src: url("./fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("./fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Rene Bieder';
  src: url("./fonts/RENE_BIEDER_BOLD.OTF") format("truetype");
  font-weight: bold;
  font-style: normal;
}

body, html {
  font-family: 'Rene Bieder';
  padding: 0px;
  margin: 0px;
  color: $black_color;
  overflow-x: hidden;
}

.font_poppins {
  font-family: 'Poppins';
}

.padding-0 {
  padding-left: 0px;
  padding-right: 0px;
}

a {
  &:hover {
    text-decoration: none;
  }
}


.mt100 {
  margin-top: 100px;
}

span {
  br {
    display: none;
  }
}

.privacy_div {
  text-align: center;

  h1 {
    color: $pink_color;
    margin-bottom: 50px;
    font-size: 70px;
  }

  span {
    color: $white_color;
    width: 68%;
    display: inline-block;
    font-size: 19px;
  }
}


::-webkit-scrollbar-thumb {
  background-color: $purple;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: $white_color;
}




