div .services_slider .services_header p {
    font-size: 26px;
}
div .ms--titles .ms-slide h3 {
    font-size: 20px;
}
body.blog {
    background-color: black;
}
.landing_thumb .landing_info h1 {
    font-size: 40px;
}
.landing_thumb .landing_info {
    font-size: 16px;
}
.blog_section .blog_post span.date_blog {
    display: block;
}
.blog_section .blog_post h5 {
    font-size: 22px;
} /* Menu */
html {
    font-size: 8px;
}
body {
    font-size: 16px !important;
}
.burger-menu-wrapper {
    position: absolute;
    top: -5px;
    right: 0px;
    width: 10rem;
    height: 10rem;
    overflow: hidden;
    cursor: pointer;
    z-index: 999;
}
.line {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 1.5px;
    width: 5rem;
    stroke: #fff;
    stroke-width: 1rem;
}
.middle-line {
    top: 4.9rem;
}
.burger-menu-wrapper.open .circle {
    stroke-dashoffset: 0;
}
.circle {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: none;
    stroke: #fff;
    stroke-width: 3.5px;
    height: 100%;
    width: 100%;
    stroke-dasharray: 550;
    stroke-dashoffset: -550;
    transition: 0.5s 0.4s ease-in-out;
}
.top-line {
    transform-origin: left center;
    top: 3.4rem;
    transition: 0.8s 0.35s ease-in-out;
}
.bottom-line {
    transform-origin: left center;
    top: 6.4rem;
    transition: 0.8s 0.35s ease-in-out;
}
.burger-menu-wrapper.open .middle-line {
    transform: translateX(151%);
    transition: 0.6s 0.1s ease-in-out;
}
.burger-menu-wrapper.closing .middle-line {
    transform: translateX(-50%);
    transition: 0.4s 0.8s ease-in-out;
}
.burger-menu-wrapper.open .top-line {
    transform: translateX(-50%) rotate(45deg);
    top: 3rem;
    left: 57%;
}
.burger-menu-wrapper.open .bottom-line {
    transform: translateX(-50%) rotate(-45deg);
    left: 57%;
} /* Menu */
@media (max-width: 767.98px) {
    div .landing_thumb .landing_info {
        position: relative;
        padding-left: 0px;
        margin-bottom: 0px;
    }
    div .landing_thumb .landing_info img {
        display: block !important;
    }
    body {
        padding-top: 114px !important;
    }
    div .landing_thumb .landing_info h1,
    div .landing_thumb .landing_info span {
        margin-left: 15px;
    }
    div .landing_thumb .landing_info h1 {
        padding-top: 25px;
    }
    div .landing_thumb .landing_info span {
        padding-bottom: 25px;
        min-height: auto;
    }
    body header .header_menu .menu_absolute ul li a {
        font-size: 35px;
        line-height: 55px;
    } /* Services */
    div .services_slider {
        padding: 0px 30px;
        overflow-y: auto;
    }
    div .services_slider .services_header {
        padding: 0px;
        top: 0px;
    }
    div .services_slider .services_header h1 {
        font-size: 55px;
        line-height: 55px;
    }
    div .services_slider .services_header p {
        width: 100%;
        font-size: 20px;
    }
    .services_thumb .services_info p {
        font-size: 12px;
    }
    div .services_thumb .services_info {
        color: white;
        font-family: "Poppins";
        margin-bottom: 15px;
        padding: 20px 15px;
    }
    div .blog_section .blog_post {
        height: 233px;
    }
    .blog_section .blog_post h5 {
        font-size: 17px;
    }
    div .blog_section .blog_post .blog_info {
        left: 0px;
    }
}
