input, select , .form-control {
  font-family: 'Poppins';
  padding-left: 15px;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

select {
  cursor: pointer;
  -webkit-appearance: none;
}

textarea {
  font-family: 'Poppins';
  padding: 15px;
  resize: vertical;
  min-height: 250px;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

form{
  margin-bottom: 0px;
}