/* Slider services */
.services-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 108vh;
  overflow: hidden;
}

.ms--images {
  position: relative;
  overflow: hidden;
}

.ms--images.ms-container--horizontal {
  width: 100%;
  height: 540px;
  max-width: 100%;
  position: absolute;
  top: 52%;
}

.ms--images.ms-container--horizontal .ms-track {
  left: calc(50% - 350px);
}

.ms--images.ms-container--horizontal .ms-slide {
  display: inline-flex;
}

.ms--images .ms-track {
  display: flex;
  position: absolute;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.ms--images .ms-slide {
  align-items: center;
  justify-content: center;
  width: 912px;
  height: 1058px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ms--images {
  left: 25%;
}

.ms--images.ms-container--horizontal .ms-track {
  left: -70px;
}

.ms--images .ms-slide__image-container {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.ms--images .ms-slide__image {
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
}

.ms--numbers {
  position: relative;
  overflow: hidden;
}

.ms--numbers.ms-container--horizontal {
  width: 240px;
  height: 240px;
  max-width: 100%;
}

.ms--numbers.ms-container--horizontal .ms-track {
  left: calc(50% - 120px);
}

.ms--numbers.ms-container--horizontal .ms-slide {
  display: inline-flex;
}

.ms--numbers .ms-track {
  display: flex;
  position: absolute;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.ms--numbers .ms-slide {
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 240px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ms--numbers {
  position: absolute;
  left: 19%;
  top: 39%;
  z-index: 9;
  pointer-events: none;
}

.ms--numbers .ms-slide {
  font-size: 9em;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.2);
}

.ms--titles {
  position: relative;
  overflow: hidden;
}

.ms--titles.ms-container--vertical {
  width: 100%;
  height: 350px;
  max-height: 100%;
}

.ms--titles.ms-container--vertical .ms-track {
  flex-direction: column;
  top: calc(37% - 85px);
}

.ms--titles.ms-container--vertical.ms-container--reverse .ms-track {
  flex-direction: column-reverse;
  top: auto;
  bottom: calc(50% - 85px);
}

.ms--titles.ms-container--vertical .ms-slide {
  display: flex;
}

.ms--titles .ms-track {
  display: flex;
  position: absolute;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
}

.ms--titles .ms-slide {
  align-items: center;
  justify-content: left;
  width: 65%;
  height: 300px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ms--titles {
  position: absolute;
  left: 20%;
  top: 8%;
  z-index: 1;
  pointer-events: none;
}

.ms--titles .ms-track {
  white-space: normal;
}

.ms--titles .ms-slide {
  font-size: 3.3em;
  font-weight: 600;
}

.ms--titles .ms-slide h3 br {
  height: 10px;
  line-height: 10px;
}

.ms--titles .ms-slide h3 {
  margin: 0;
  color: white;
  font-family: 'Poppins';
  font-size: 22px;
  line-height: 31px;
}

.ms--links {
  position: relative;
  overflow: hidden;
}

.ms--links.ms-container--vertical {
  width: 120px;
  height: 60px;
  max-height: 100%;
}

.ms--links.ms-container--vertical .ms-track {
  flex-direction: column;
  top: calc(50% - 30px);
}

.ms--links.ms-container--vertical .ms-slide {
  display: flex;
}

.ms--links .ms-track {
  display: flex;
  position: absolute;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.ms--links .ms-slide {
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 60px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ms--links {
  position: absolute;
  left: calc(50% - 420px);
  top: calc(50% + 105px);
  z-index: 1;
}

.ms--links .ms-track {
  white-space: normal;
}

.ms--links .ms-slide__link {
  font-weight: 600;
  padding: 5px 0 8px;
  border-bottom: 2px solid white;
  cursor: pointer;
}

.services-container .pagination li {
  display: block;
}

.services-container .pagination {
  position: absolute;
  left: 6%;
  top: 60%;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 1;
  display: block;
}

.services-container .pagination__item a.pagination__button:hover {
  color: white;
}

.services-container .pagination__item.pagination__item--active a.pagination__button {
  color: white;
}

.services-container .pagination__item a.pagination__button {
  display: inline-block;
  position: relative;
  width: 100%;
  font-size: 32px;
  margin: 0 5px;
  cursor: pointer;
  color: #adadad;
}

@media screen and (max-width: 860px) {
  .ms--numbers {
    left: calc(50% - 120px);
  }

  .ms--titles {
    left: calc(50% - 200px);
    top: calc(50% - 135px);
    text-align: center;
  }

  .ms--links {
    left: calc(50% - 60px);
    top: calc(50% + 80px);
  }

  .pagination {
    left: 50%;
    top: calc(100% - 50px);
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 600px) {
  .ms--images {
    overflow: visible;
  }
}

@media screen and (max-width: 400px) {
  .ms--titles .ms-slide {
    transform: scale(0.8);
  }
}


/* END slider services */
