header {
  width: 100%;

  .header_menu {
    background: transparent;
    position: fixed;
    top: 0;
    z-index: 99999999;
    padding: 15px 30px 15px 30px;
    transition: 0.7s;

    &.menu_fixed_black {
      transition: 0.7s;
    }

    &.menu_black {
      .menu_black_img {
        display: block;
      }

      .menu_white_img {
        display: none;
      }

      .toggle input + div div span:before {
        background: $black_color;
      }

      .toggle input + div div span:first-child:after {
        background-color: $black_color;
      }

      .toggle input + div div span:before, .toggle input + div div span:after {
        background-color: $black_color;
      }

      .toggle input + div svg {
        stroke: $black_color;
      }

      .menu_absolute {
        background-color: $white_color;

        ul {
          li {

            a {
              color: $black_color;


              &:hover {
                color: $black_color;
              }
            }

          }
        }
      }
    }

    .menu_white_img {
      display: block;
    }

    .menu_black_img {
      display: none;
    }

    img {
      width: 84px;
    }

    .menu_lines {
      padding-top: 20px;
      text-align: right;

      div {
        z-index: 9999;
      }
    }

    .menu_absolute_opacity {
      position: absolute;
      top: 0px;
      left: 0px;
      height: 100vh;
      background-color: $black_color;
      display: none;
      opacity: 0.5;
    }

    .menu_absolute {
      position: absolute;
      top: 0px;
      right: 0px;
      height: 100vh;
      background-color: $black_color;
      display: none;
      justify-content: center;
      align-items: center;
      padding: 160px 0px 0px 115px;
      overflow: auto;

      ul {
        li {
          display: inline-block;
          line-height: 50px;
          width: 100%;

          a {
            font-size: 50px;
            line-height: 80px;
            color: $grey_color_meny;
            cursor: pointer;

            &:hover {
              color: $white_color;
            }
          }

          &.current-menu-item {
            a {
              color: $white_color;
            }
          }

          .sub-menu {
            display: none;
          }

          ul {
            li {
              a {
                font-family: 'Poppins';
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }
}


.toggle {
  display: inline-block;
  cursor: pointer;

  input {
    display: none;
  }

  input + div {
    width: 20px;
    height: 14px;
    position: relative;

    div {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      transition: -webkit-transform .5s ease;
      transition: transform .5s ease;
      transition: transform .5s ease, -webkit-transform .5s ease;

      span {
        display: block;
        position: absolute;
        left: 0;
        right: 0;

        &:first-child {
          top: 0;

          &:before, &:after {
            top: 0;
          }
        }

        &:last-child {
          bottom: 0;

          &:before, &:after {
            bottom: 0;
          }
        }

        &:before {
          left: 0;
          -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
          -webkit-transform: translate(1px, 0) scaleX(1.1);
          transform: translate(1px, 0) scaleX(1.1);
        }

        &:after {
          right: 0;
          -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
          -webkit-transform: translate(-1px, 0) scaleX(1.1);
          transform: translate(-1px, 0) scaleX(1.1);
        }

        &:before, &:after {
          content: '';
          display: block;
          width: 47%;
          height: 2px;
          border-radius: 1px;
          background: #fff;
          position: absolute;
          -webkit-backface-visibility: hidden;
          transition: border-radius .3s ease, -webkit-transform .5s ease;
          transition: transform .5s ease, border-radius .3s ease;
          transition: transform .5s ease, border-radius .3s ease, -webkit-transform .5s ease;
        }
      }
    }

    svg {
      display: block;
      fill: none;
      stroke: #fff;
      stroke-width: 2px;
      width: 44px;
      height: 44px;
      stroke-linecap: round;
      position: absolute;
      left: 50%;
      top: 50%;
      margin: -22px 0 0 -22px;
      stroke-dasharray: 0 82.801 8 82.801;
      stroke-dashoffset: 82.801;
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      -webkit-backface-visibility: hidden;
      -webkit-transform: scale(1);
      transform: scale(1);
      transition: stroke-dashoffset .5s ease, stroke-dasharray .6s ease, -webkit-transform .5s ease;
      transition: stroke-dashoffset .5s ease, stroke-dasharray .6s ease, transform .5s ease;
      transition: stroke-dashoffset .5s ease, stroke-dasharray .6s ease, transform .5s ease, -webkit-transform .5s ease;

      &:nth-child(3) {
        -webkit-transform: rotate(180deg) scale(1);
        transform: rotate(180deg) scale(1);
      }
    }
  }
}

body {
  .dribbble {
    position: fixed;
    display: block;
    right: 24px;
    bottom: 24px;

    img {
      display: block;
      width: 76px;
    }
  }
}


.input_check {
  &.toggle {
    input + div {
      div {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);

        span {
          &:first-child {
            &:before {
              -webkit-transform: rotate(45deg) translate(2.2px, -3px) scaleX(1.05);
              transform: rotate(45deg) translate(2.2px, -3px) scaleX(1.05);
            }

            &:after {
              -webkit-transform: rotate(-45deg) translate(-2.2px, -3px) scaleX(1.05);
              transform: rotate(-45deg) translate(-2.2px, -3px) scaleX(1.05);
            }
          }

          &:last-child {
            &:before {
              -webkit-transform: rotate(-45deg) translate(2.2px, 3px) scaleX(1.05);
              transform: rotate(-45deg) translate(2.2px, 3px) scaleX(1.05);
            }

            &:after {
              -webkit-transform: rotate(45deg) translate(-2.2px, 3px) scaleX(1.05);
              transform: rotate(45deg) translate(-2.2px, 3px) scaleX(1.05);
            }
          }
        }
      }

      svg {
        stroke-dashoffset: 62;
        stroke-dasharray: 0 82.801 62 82.801;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);

        &:nth-child(3) {
          -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
        }
      }
    }
  }
}




