@media (max-width: 1550px) {
  .services_thumb .services_info {
    padding: 100px 100px 50px 200px;
  }
}

@media (max-width: 1600px) {
  .services_slider {
    padding: 150px 0px 0px 15%;

    .slider-middle {
      .slide {
        &.active {
          span {
            top: 0px;
            left: 85%;
          }
        }
      }

      .image_title {
        margin-top: 230px;
      }
    }

    .lSAction {
      a {
        top: 65vh;
      }
    }

    .title_image {
      top: 150px;
    }
  }
  .services_slider .lSAction a.lSNext {
    left: 115px;
  }
  .services_slider .lSAction a.lSPrev {
    left: 65px;
  }
}

@media (max-width: 1400px) {
  .services_thumb {
    .services_info {
      padding: 100px 120px 50px 120px;
    }
  }

  .services_list {
    padding-left: 120px;
  }
  .landing_thumb {
    .landing_info {
      margin-bottom: -50px;

      h1 {
        font-size: 30px;
      }

      span {
        min-height: 120px;
      }
    }

    &:hover {
      .landing_info {
        margin-bottom: 20px;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  /* ABOUT US */
  .about_us_image {
    background-size: contain;

    .text_about {
      padding: 80px 0px 0px 0px;
      color: $white_color;
      text-align: center;

      h1 {
        font-size: 38px;
        margin-bottom: 15px;
      }

      h2 {
        font-size: 35px;
      }

      h3 {
        font-size: 25px;
      }

      h4 {
        font-size: 30px;
      }

      p {
        width: 80%;
        font-size: 18px;
        line-height: 36px;
        display: inline-block;
      }

      span {
        margin-top: 40px;
        font-size: 16px;
        font-size: 18px;
        line-height: 36px;
        display: inline-block;
        width: 80%;
      }
    }
  }
  .page-template-abut_us, .page-template-contact {
    .header_menu {
      &.menu_black {
        .menu_black_img {
          display: none;
        }

        .menu_white_img {
          display: block;
        }

        .toggle input + div div span:before {
          background: $white_color;
        }

        .toggle input + div div span:first-child:after {
          background-color: $white_color;
        }

        .toggle input + div div span:before, .toggle input + div div span:after {
          background-color: $white_color;
        }

        .toggle input + div svg {
          stroke: $white_color;
        }

        .menu_absolute {
          background-color: $black_color;

          ul {
            li {

              a {
                color: $white_color;

                &:hover {
                  color: $white_color;
                }
              }

            }
          }
        }
      }
    }
  }
  /* HEADER */
  header {
    .header_menu {
      .menu_absolute {
        padding: 160px 0px 0px 0px;
        text-align: center;

        ul {
          padding: 0px;
        }
      }
    }
  }
  /* HOME */
  .capabilities_image {
    background-position: -9000 -9000;
    overflow: initial;
    height: auto;

    .row {
      height: auto;
    }
  }
  .landing_thumb {
    .landing_info {
      position: absolute;

      span {
        opacity: 1;
        width: 80%;
      }

      h1 {
        &:after {
          width: 120px;
        }
      }
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  body {
    padding-top: 90px;
    background-color: $black_color;

    header {
      .header_menu {
        background-color: $black_color;
      }
    }
  }
  /* SERVICES */
  .services_thumb .services_info {
    padding: 45px 45px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  /* CONTACT */
  .project_text {
    text-align: center;
    padding: 30px 15px;

    h1 {
      font-size: 30px;
    }

    span {
      width: 100%;
    }
  }
  .contact_form_div {
    padding: 60px 15px 0px 15px;

    &:nth-child(2) {
      padding: 0px 15px 0px 15px;
    }

    .textarea {
      padding: 0px;
    }

    .div_inputs {
      margin-bottom: 60px;
    }
  }
  .privacy {
    padding: 30px 15px 0px 15px;

  }


  /* OUR PROJECTS */
  .projects_thumb {
    img {
      height: 100%;
      object-fit: cover;
      object-position: center;
      width: 100%;
    }

    .projects_info {
      left: 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h1 {
        font-size: 40px;
        padding-top: 0px;
        padding-bottom: 30px;
      }

      span {
        width: 87%;
      }
    }
  }
  /* BLOG */
  .blog_section {
    padding-top: 0px;

    .blog_categories {
      li {
        padding-right: 15px;

        span {
          font-size: 16px;
        }
      }
    }
  }
  .contact_title {
    &.project_text {
      span {
        width: 100%;
      }
    }
  }
}